<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code of Conduct Reports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      @media (min-width: 768px) {
        .container {
          max-width: 730px;
        }
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      .row {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      textarea {
        margin-bottom: 10px;
      }
      .well.outbound {
        background-image: linear-gradient(to bottom,#0ed2c0 0, #0ed2f5 100%);
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% block body %}{% endblock %}
    </div><!-- .container -->
  </body>
</html>
